.hide {
  display: none;
}

.show {
  /* block means stacke up vertically */
  display: block;
}


.start {
  text-align: center;
}

.choices button {
  display: block;
  margin: 10px;
}

.choices {
  text-align: left;
}